<section id="home" class="home u-full-width">

    <div class="home-image"></div>
    <div class="container centered home-title">
      <h2><i class="fa fa-terminal" aria-hidden="true"></i> {{ site.title }}</h2>
    </div>

</section>
<div class="centered">
  <img src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="{{ site.title }}" class="me"/>
</div>
<div class="centered">
  <a href="{{ site.linkedin }}" target="_blank" class="social"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  <a href="https://github.com/{{ site.github_username }}" target="_blank" class="social"><i class="fa fa-github" aria-hidden="true"></i></a>
  <a href="mailto:{{ site.email }}?subject=Mail from Site" target="_blank" class="social"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</div>
<nav class="navbar">
    <div class="container centered">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" href="{{ "/" | prepend: site.baseurl }}">About</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="{{ "/cv" | prepend: site.baseurl }}">CV</a>
        </li>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li class="navbar-item">
            <a class="navbar-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
